@font-face {
  font-family: "GT-display";
  src: url({{ "GT-Super-Display-Medium.woff" | asset_url }}) format("woff");
}

@font-face {
  font-family: "GT-text";
  src: url({{ "GT-Super-Display-Medium.woff" | asset_url }}) format("woff");
}

.homepage-products {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.homepage-products__item img {
  width: 100%;
  height: auto;
  max-height: 315px;
}

.homepage-products__container {
  overflow: hidden;
}

.homepage-products .heading {
  font-family: 'GT-display';
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}

.homepage-products .swiper-button-next::after, .homepage-products .swiper-button-prev::after {
  display: none;
}

.homepage-products__item .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background: #fff;
  margin-top: -10px;
}

.homepage-products__item .container .title {
  margin: 0;
  font-family: 'GT-display';
  font-size: 24px;
  line-height: 32px;
  font-style: italic;
}

.homepage-products__item .container .price {
  font-size: 15px;
  line-height: 1;
  font-weight: 600;
  font-family: sans-serif;
}

.homepage-products .shopall-button {
  border-bottom: 1px solid #000;
  color: #000;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  font-family: 'Assistant';
  text-transform: uppercase;
  letter-spacing: 0.25em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: auto;
  margin-top: 50px;
}

@media (min-width: 991px) {
  .homepage-products .swiper-button-next, .homepage-products .swiper-button-prev {
    display: block;
    top: 55%;
  }

  .homepage-products {
    padding-left: 30px;
    padding-right: 30px;
  }

  .homepage-products .heading {
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 80px;
  }
}

@media (min-width: 1460px) {
  .homepage-products .swiper-button-next {
    right: -10px;
  }

  .homepage-products .swiper-button-prev {
    left: -10px;
  }
}